<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container-body">

        <form class="form-container" action="/users/cadastrar" method="post">
            <div class="input-group">
                <h1>Cadastrar Usuarios</h1>
                <div class="input-div">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="">
                </div>
                <div class="input-div">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="">
                </div>
                <div class="input-div">
                    <label for="senha">Senha</label>
                    <input type="text" name="senha" id="">
                </div>
            </div>
            <button class="btn-form" type="submit">Enviar</button>
    
        </form>
    </div>
    
     
</body>
</html>